.block_label {
  margin-top: 5px;
  min-height: 80px;
  font-size: 15px;
}

.block-img {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 230px;
  min-height: 230px;
}
.img-current {
  img {
    max-height: 230px;
  }
}

.product-price-block {
  .price-normal {
    font-size: 20px;
    line-height: 23px;
    font-weight: 500;
    vertical-align: bottom;
    small {
      font-size: 14px;
    }
    span {
      font-size: 12px;
      font-weight: 400;
    }
  }
}

.ant-card-body {
  padding: 10px 24px 14px 24px;
}
