.product-card-label {
  margin-top: 5px;
  min-height: 80px;
  font-size: 15px;
}

.product-card-wrapper-img {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 230px;
  min-height: 230px;
}
.product-card-img {
  img {
    max-height: 230px;
  }
}

.product-card-price-block {
  .product-card-price {
    font-size: 20px;
    line-height: 23px;
    font-weight: 500;
    vertical-align: bottom;
    small {
      font-size: 14px;
    }
    span {
      font-size: 12px;
      font-weight: 400;
    }
  }
}

.ant-card-body {
  padding: 8px 20px 8px 20px !important;
}
