* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  box-sizing: border-box;
}

.container {
  padding: 0 50px;
  max-width: 1400px;
  margin: 0 auto;
}

.layout {
  min-height: 100vh;
}

.header {
  padding-inline: 0px !important;
}
